.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fas{
  font-size: 15px;
}
.pochyle_fonty{
    font-size: small;
    font-style: italic;
}

.pochyle_fonty_w{
  font-size: small;
  font-style: italic;
  margin-top: 3px;
}

.sticky-dropdown{
  background:transparent;
  position:sticky;
  top: 0px;
  z-index: 2;
}

.moje-zdjecie{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; 
  width: 100%;
  height: 99%; 
}

.na_srodku{
  text-align: center;
  vertical-align: middle;
}
.imie{
  font-size:38px
}
