.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fas{
  font-size: 15px;
}
.pochyle_fonty{
    font-size: small;
    font-style: italic;
}

.pochyle_fonty_w{
  font-size: small;
  font-style: italic;
  margin-top: 3px;
}

.sticky-dropdown{
  background:transparent;
  position:sticky;
  top: 0px;
  z-index: 2;
}

.moje-zdjecie{
  margin-left: 5px;
  margin-right: 5px; 
  margin-bottom: -22px;
  margin-top: -20px;
  scale: 0.92;
}

.na_srodku{
  text-align: center;
  vertical-align: middle;
}
.imie{
  font-size:38px
}
